/* _hmt-core.scss */

@import 'reset';

/* Variables */

$display-font-stack:  Helvetica, sans-serif;
$body-font-stack:  Times, serif;
$code-font-stack:   Courier, fixed;

$medium-font: 12pt;
$normal-font-weight: 300;

$default-whitespace: 0.5em;

$heading-color: maroon;
$subtle-color: #aaa;
$accent-color: lighten(navy,10%);

/* Mixins */

@mixin display-font {
        font: {
                family: $display-font-stack;
                weight: $normal-font-weight;;
        }
        color: $heading-color;
        margin: $default-whitespace 0 $default-whitespace 0;
}

@mixin body-font {
        font: {
                family: $body-font-stack;
                size: $medium-font;
                weight: $normal-font-weight;
        }
        padding: $default-whitespace;
}

/*  Structure  */

body {
        @include body-font;
        background-color: #fff;
        padding: $default-whitespace * 4;
}

header, footer {
        @include display-font;
        color: $subtle-color;
        font-size: 75%;
        margin: ($default-whitespace * 2) 0 ($default-whitespace * 2) 0;
        clear: both;
}

header {
        border-bottom: 1px solid $subtle-color;
        padding-bottom: $default-whitespace;
}
footer{
        border-top: 1px solid $subtle-color;
        padding-top: $default-whitespace;
}

nav,.nav {
        @include display-font;
        border: none;
        ul {
                list-style: none;
                margin-left: 0;
                li{
                        display: inline;
                        padding: 0 $default-whitespace 0 $default-whitespace;
                        border-left: 1px solid $heading-color;
                        margin: 0;
                }
                li:nth-child(1) {
                        border-left: none;
                        padding-left: 0em;
                }
        }

}
                
/* Blocks */

h1, h2, h3 { 
        @include display-font;
        margin: ($default-whitespace * 2) 0 $default-whitespace 0;
        font-weight: 200;
        text-indent: -0.1em;
}

h1 {
        font-size: 175%;
}

h2 {
        font-size: 150%;
}

h3 {
        font-size: 125%;
}


p,ul,ol {
        margin: $default-whitespace 0 $default-whitespace 0;
}

ul,ol {
        margin-left: $default-whitespace * 3;
}

ul {
       list-style-type: circle;
       }

       li {
               margin: $default-whitespace 0 $default-whitespace 0;
       }

blockquote {
        margin: ($default-whitespace) 0 ($default-whitespace) ($default-whitespace * 3);
        border: 1px dashed lighten($subtle-color, 10%);
        padding: $default-whitespace;
}

/* Spans */

em {
        font-style: italic; 
}

strong {
        font-weight: $normal-font-weight * 3;
}


a {
      color: $accent-color;
      text-decoration: none;
}

a:hover {
        border-bottom: 1px solid $subtle-color;
}

code {
        font: {
                family: $code-font-stack;
                size: 90%;
        }

}


